# Google API Keys
cryptoKey.json

# Discord token
discordToken.txt

# Python cache
__pycache__
cogs/__pycache__
.DS_Store

# Logs
*.log

# venv
venv

# testing code
test.py
schedule.xlsx 

# tokens
credentials.json
token.json
service_account_key.json
brainbot-435923-912b44082a6f.json